{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{% set DEFN_LOOP_UNDERLAY =
    {
      'CLSJ-Spine1':   '198.19.1.1',
      'CLSJ-Spine2':   '198.19.1.2',
      'CLSJ03-Leaf1':  '198.19.1.3',
      'CLSJ03-Leaf2':  '198.19.1.4',
      'CLSJ-BDR-1':    '198.19.1.5',
      'CLSJ-BDR-2':    '198.19.1.6'
    }
%}
{# DEFN_LOOP_MCLUSTER: remote Border peers for cross-site VXLAN multi-cluster BGP  #}
{# Keys = remote border hostnames; values = their Loopback0 IP and remote site ASN  #}
{# Iterate via DEFN_NODE_ROLES['MCLUSTER'] list in FABRIC templates                 #}
{% set DEFN_LOOP_MCLUSTER =
    {}
%}
{% set DEFN_LOOP_OVERLAY =
    {
      'red':                                    '198.18.100.',
      'blue':                                   '198.18.200.',
      'green':                                  '198.18.220.'
    }
%}
{% set DEFN_LOOP_NAME =
    {
        'UNDERLAY': 'Loopback0',
        'ANYCAST':  'Loopback2'
    }
%}
{# End of File #}
